.inicialPage__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    height: 528px;
    margin: 4rem 0;
}


@media screen and (max-width:480px) {

    .inicialPage__container {
        flex-direction: column;
        height: 100%;
    }
    
}