* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-main: 'Preahvihear', sans-serif;
  --font-secondary: 'Plus Jakarta Sans', sans-serif;
  --color-backgroundPurple: #251c31;
  --color-backgroundDark: #1a0b2e ;
  --white: #ffffff;
  --color-menu-footer: #2c1250;
  --cor-borderButton: #007ced;
  --rgba-purple: rgba(118, 60, 172, 1);
  --linearGradient-cards: linear-gradient(rgba(30, 4, 40, 1), rgba(37, 16, 67, 1), rgba(56, 18, 109, 1), rgba(38, 16, 69, 1), rgba(25, 6, 52, 1));
  --linearGradient-cardProjectText: rgba(105, 59, 147, 0.2);
  --radialGradient-ProjectImage: rgba(118, 60, 172, 1), rgba(50, 15, 133, 0);
  --color-titleCardProject: #ccd6f6;
}

body {
  font-family: var(--font-main);
  color: var(--white);
  background-color: var(--color-backgroundDark);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--rgba-purple);
  border-radius: 20px;
}
