.slider__container {
    width: 100%;
    max-width: 100%;
    height: 630px;
    margin: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.slider__container {
    display: flex;
    font-size: 2rem;
    padding-bottom: 1rem;
    color: var(--rgba-purple);
    filter: drop-shadow(0 0 0.75rem var(--rgba-purple));
}

.slider__carrousel {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 12rem;
    padding-left: 12rem;
}

.inner_carrousel {
    display: flex;
    width: 100%;
    gap: 11rem;
}

.inner_carrousel__image {
    min-height: 200px;
    min-width: 300px;
    padding: 14px;
    margin: 0 2rem;
    position: relative;
}

.inner_carrousel__image img {
    cursor: grab;
    width: 400px;
    height: 300px;
    border-radius: 12px;
    pointer-events: none;
    filter: drop-shadow(0 0 0.75rem var(--rgba-purple));
}

.inner_carrousel__image p{
    position: absolute;
    top: 98%;
    right: 0%;
    font-size: 0.7rem;
    color: var(--white);
    filter: drop-shadow(0 0 0.75rem var(--rgba-purple));
}

@media screen and (max-width:480px) {
    .slider__container {
        margin-top: 0;
        height: 430px;
    }

    .slider__carrousel {
        width: 90%;
        padding-right: 0;
    }

    .inner_carrousel {
        width: 90%;
        gap: 2rem;
    }

    .inner_carrousel__image {
        padding: 0;
        padding-bottom: 14px;
    }

    .inner_carrousel__image img {
        width: 280px;
        height: 180px;
    }
}