.sectionContact__container {
    margin: 5rem 0 5rem 0;
    width: 60%;
    text-align: left;
}

.sectionContact__container h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
}

.sectionContact__container p {
    margin: 0 0 2rem 0;
}

.sectionContact__container ul {
    list-style: none;
    margin-top: 2rem;
}

@media screen and (max-width:480px) {
    .sectionContact__container {
        width: 90%;
        text-align: center;
    }
}