.link {
    text-decoration: none;
    font-size: 1rem;
    color: var(--white);
    margin-right: 8rem;
}

.link:hover {
    color: var(--color-purple);
}

.link__destacado {
    text-decoration: underline solid var(--white);
}

.link__destacado:hover {
    text-decoration: underline solid var(--color-purple);
}

@media screen and (max-width:480px) {
    .link{
        margin-right: 1rem;
    }
}