.cardProjectImage__container {
    width: 50%;
    background-image: repeating-radial-gradient(circle, var(--radialGradient-ProjectImage));
    filter: drop-shadow(0 0 0.95rem var(--rgba-purple));
    text-align: left;
    border-radius: 9%;
}

.cardProjectImage__container img {
    cursor: pointer;
    width: 95%;
    height: 95%;
    filter: drop-shadow(0 0 0.95rem var(--rgba-purple));
    border-radius: 16px;
}

@media screen and (max-width:480px) {
    .cardProjectImage__container {
        width: 80%;
        margin: 1rem;
    }
}